<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Financial Planning Service</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- Navigation bar with links to each page-->

    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>

      <!-- resposnce navigation bars for smaller screens-->
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <!-- Search bar input for every page-->
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
    
        </form>
      </div>
    </div>
    <body>
      <div id="app2">
      <div class="flex-container">
        <div id="flex-item-left" >
          <h2 id="jumpAnchor0">Australian income tax calculator</h2><h3>Your income</h3>
          <p>
        
          <!-- grossIncome varible input field -->
          <label for="grossIncome">Employment income: <span>(after salary sacrifice, before tax)</span></label>
          <input v-model="grossIncome" type="text" inputmode="numeric" id="grossIncome" class="dollars" value="0">

          <label for="grossIncomeFreq" class="offScreen">Employment income frequency</label>
          <select id="grossIncomeFreq" class="freq">
          <option value="1">Annually</option>
          <option value="12">Monthly</option>
          <option value="26">Fortnightly</option>
          <option value="52">Weekly</option>
          </select>
          </p>
          <p>
          
          <!-- otherIncome varible input field -->
          <label for="otherIncome">Other taxable income:</label>
          <input v-model="otherIncome" type="text" inputmode="numeric" id="otherIncome" class="dollars" value="0">

          <!-- Frequency option selection -->
          <label for="otherIncomeFreq" class="offScreen">Other taxable income frequency</label>
          <select id="otherIncomeFreq" class="freq">
          <option value="1">Annually</option>
          <option value="12">Monthly</option>
           <option value="26">Fortnightly</option>
          <option value="52">Weekly</option>
          </select></p>
          <p>
          <label for="fy">Financial year:</label>
          <select id="fy">
          <option value="2016-2017">2016-2017</option>
          <option value="2017-2018">2017-2018</option>
          <option value="2018-2019">2018-2019</option>
          <option value="2019-2020">2019-2020</option>
          <option value="2020-2021">2020-2021 pre budget*</option>
          <option value="2020-20211">2020-2021</option>
          <option value="2021-2022">2021-2022</option>
          <option value="2022-2023" selected="">2022-2023</option>
          </select>
          </p>
  
          </div>  

          <!-- Div container for the calculator function -->
          <div id="incomeTaxResultsContainer" >
            <div id="calc_box_top">
            <p id="tax_text" >Enter an income to view the result</p>
                <!-- this paragraph gets displyed if the gross income field is not emptpy, shows to sum of all income -->
                <p v-if="grossIncome" >Your taxable income: ${{ result }}</p>
                <slot>
                    <!-- this paragraph gets displyed if the  other income field is not emptpy, shows to sum of all income -->
                  <p v-else-if="otherIncome" >Your taxable income: ${{ result }}</p>
                </slot>
            </div>

            </div>
          </div>

      </div>

    </body>   
    <footer>
    </footer>
</html>
<!-- Link to scrpit file included in every page -->
<script src="./main.js"></script>