<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
        The Start of something
        </title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
    </head> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="contact.html">Contact</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars "></i>
      </a>
      <div class="search-container">  
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
    <body>

  
      <div id="app">

        <h1>Contact Us</h1>

        <label for="First Name">First Name</label>
        <input 
        v-model="firstName"
        type="text" 
        placeholder="Please enter your First Name" />
        <label for="Last Name">Last Name</label>

        <input 
        v-model="lastName"
        type="text" 
        placeholder="Please enter your Last Name" />
        <label for="Email">Email</label>

        <input 
        v-model="email" 
        type="text"  
        placeholder="Please enter your email" />

        <label for="Message">Message</label>
        <textarea v-model="message" type="textarea" id="subject" name="subject" placeholder="Please enter your message" style="height:200px"></textarea>
    
        <input type="submit" value="Submit">

      </div>

      <div id="components-demo">
        <button-counter></button-counter>
      </div>

    </body>

    <footer>
    </footer>
</html>
<script src="./script.js"></script>